{
    DBApplication = (
	"-windowShouldClose:",
	"-applicationDidFinishLaunching:",
	"-applicationDidResignActive:",
	"-windowDidResignKey:",
	"-applicationShouldTerminateAfterLastWindowClosed:",
	"-openDisk:",
	"-loadDisk:",
	"-insertFloppy:",
	"-ejectFloppy:",
	"-saveFloppy:",
	"-configureNetwork:",
	"-finishNetworkPanel:",
	"-mayDiscardFloppy",
	"-pause:",
	"-step:",
	"-saveDisk:",
	"-tick:",
	"-refresh",
	"-reportException:",
	"-mayDiscardDisk",
	"-applicationShouldTerminate:"
    );
    DBDisk = (
	"-initWithPath:",
	"+workingDirectory",
	"-initWithWorkingCopyOfPath:",
	"-saveWorkingCopy",
	"-path",
	"-heads",
	"-cylinders",
	"-sectorCount",
	"-wordAtSector:offset:",
	"-writeSector:offset:value:",
	"-germ",
	"-changed",
	"-saveCopyToPath:"
    );
    DBDisplayView = (
	"-setMachine:",
	"-releaseInput",
	"-keyEvent:pressed:",
	"-releaseKey:",
	"-updateMouse:"
    );
    DBFloppy = (
	"-initWithPath:readOnly:",
	"-path",
	"-cylinders",
	"-heads",
	"-sectorsAtCylinder:head:",
	"-sectorIDsAtCylinder:head:",
	"-sectorAtCylinder:head:sector:",
	"-statusAtCylinder:head:sector:",
	"-writeCylinder:head:sector:data:deleted:",
	"-formatCylinder:head:descriptors:fill:",
	"-readOnly",
	"-changed",
	"-saveCopyToPath:"
    );
    DBMachine = (
	"-initWithDisk:switches:",
	"-initWithDisk:switches:workingCopy:",
	"-disk",
	"-diskReads",
	"-diskWrites",
	"-halted",
	"-displayEnabled",
	"-displayData",
	"-setKey:pressed:",
	"-releaseKeys",
	"-setMouseX:y:",
	"-runForInstructions:",
	"-notifyDevice:",
	"-serviceDisk"
    );
    "DBMachine(Devices)" = (
	"-floppy",
	"-insertFloppy:readOnly:",
	"-ejectFloppyDiscardingChanges:",
	"-setNetworkHost:port:",
	"-setHostID:",
	"-network",
	"-packetsSent",
	"-packetsReceived",
	"-pollDevices",
	"-serviceNetwork:",
	"-serviceFloppy"
    );
    DBMemory = (
	"+isVacant:",
	"-initWithRealPages:virtualPages:",
	"-realPages",
	"-virtualPages",
	"-validateWord:writing:",
	"-physicalWord:",
	"-writePhysicalWord:value:",
	"-readWord:",
	"-writeWord:value:",
	"-readDoubleWord:",
	"-fetchByte:offset:",
	"-storeByte:offset:value:",
	"-mapPage:to:flags:",
	"-flagsForPage:",
	"-realPageForPage:",
	"-loadData:atRealAddress:",
	"+fieldFromWord:specification:",
	"+word:specification:withField:"
    );
    DBNetwork = (
	"-initWithHost:port:",
	"-poll",
	"-sendPacket:",
	"-receivePacket",
	"-discardReceivedPackets",
	"-close",
	"-connected",
	"-status"
    );
    DBProcessor = (
	"-initWithMemory:post40:",
	"-memory",
	"-state",
	"-reset",
	"-step",
	"-runForInstructions:",
	"-push:",
	"-pop",
	"-pushLong:",
	"-popLong",
	"-recover",
	"-discard",
	"-supportsOpcode:escape:"
    );
    "DBProcessor(Blocks)" = (
	"-blockOpcode:escape:execute:",
	"-bitBlt:"
    );
    "DBProcessor(Control)" = (
	"-allocateFrame:",
	"-freeFrame:",
	"-fetchLink:",
	"-transfer:source:type:free:",
	"-call:",
	"-checkTransferTrap:type:",
	"-saveStack:",
	"-loadStack:",
	"-setGuestTraps:",
	"-trap:parameter:words:",
	"-controlOpcode:escape:execute:",
	"-intervalTimer",
	"-setIntervalTimer:",
	"-checkEmptyStack",
	"-deliverException:opcode:",
	"-dispatchException:opcode:"
    );
    "DBProcessor(Instructions)" = (
	"-ESC_x07_SM",
	"-ESC_x09_GMF",
	"-ESC_x08_SMF",
	"-OPC_xF7_LP",
	"-ESC_x1E_ROB_alpha",
	"-ESC_x1F_WOB_alpha",
	"-ESC_x79_RRMDS",
	"-ESC_x71_WRMDS",
	"-OPC_xA2_REC",
	"-OPC_xA3_REC2",
	"-OPC_xA4_DIS",
	"-OPC_xA5_DIS2",
	"-OPC_xA6_EXCH",
	"-OPC_xA7_DEXCH",
	"-OPC_xA8_DUP",
	"-OPC_xA9_DDUP",
	"-OPC_xAA_EXDIS",
	"-OPC_x3C_BNDCK",
	"-ESC_x24_BNDCKL",
	"-ESC_x25_NILCK",
	"-ESC_x26_NILCKL",
	"-OPC_xAB_NEG",
	"-OPC_xAC_INC",
	"-OPC_xAE_DINC",
	"-OPC_xAD_DEC",
	"-OPC_xB4_ADDSB_alpha",
	"-OPC_xAF_DBL",
	"-OPC_xB0_DDBL",
	"-OPC_xB1_TRPL",
	"-ESC_x18_LINT",
	"-OPC_x7C_SHIFTSB_alpha",
	"-OPC_xB2_AND",
	"-ESC_x13_DAND",
	"-OPC_xB3_IOR",
	"-ESC_x14_DIOR",
	"-ESC_x12_XOR",
	"-ESC_x15_DXOR",
	"-OPC_x7B_SHIFT",
	"-ESC_x17_DSHIFT",
	"-ESC_x16_ROTATE",
	"-OPC_xB5_ADD",
	"-OPC_xB6_SUB",
	"-OPC_xB7_DADD",
	"-OPC_xB8_DSUB",
	"-OPC_xB9_ADC",
	"-OPC_xBA_ACD",
	"-OPC_xBC_MUL",
	"-ESC_x30_DMUL",
	"-ESC_x31_SDIV",
	"-ESC_x1C_UDIV",
	"-ESC_x1D_LUDIV",
	"-ESC_x32_SDDIV",
	"-ESC_x33_UDDIV",
	"-OPC_xBD_DCMP",
	"-OPC_xBE_UDCMP",
	"-ESC_x40_FADD",
	"-ESC_x41_FSUB",
	"-ESC_x42_FMUL",
	"-ESC_x43_FDIV",
	"-ESC_x44_FCOMP",
	"-ESC_x46_FLOAT",
	"-OPC_x81_J2",
	"-OPC_x82_J3",
	"-OPC_x83_J4",
	"-OPC_x84_J5",
	"-OPC_x85_J6",
	"-OPC_x86_J7",
	"-OPC_x87_J8",
	"-OPC_x88_JB_salpha",
	"-OPC_x89_JW_sword",
	"-ESC_x19_JS",
	"-OPC_x80_CATCH_alpha",
	"-OPC_x98_JZ3",
	"-OPC_x99_JZ4",
	"-OPC_x9B_JNZ3",
	"-OPC_x9C_JNZ4",
	"-OPC_x9A_JZB_salpha",
	"-OPC_x9D_JNZB_salpha",
	"-OPC_x8B_JEB_salpha",
	"-OPC_x8E_JNEB_salpha",
	"-OPC_x9E_JDEB_salpha",
	"-OPC_x9F_JDNEB_salpha",
	"-OPC_x8A_JEP_pair",
	"-OPC_x8D_JNEP_pair",
	"-OPC_x8C_JEBB_alphasbeta",
	"-OPC_x8F_JNEBB_alphasbeta",
	"-OPC_x90_JLB_salpha",
	"-OPC_x93_JLEB_salpha",
	"-OPC_x92_JGB_salpha",
	"-OPC_x91_JGEB_salpha",
	"-OPC_x94_JULB_salpha",
	"-OPC_x97_JULEB_salpha",
	"-OPC_x96_JUGB_salpha",
	"-OPC_x95_JUGEB_salpha",
	"-OPC_xA0_JIB_word",
	"-OPC_xA1_JIW_word",
	"-OPC_xCB_LIN1",
	"-OPC_xCC_LINI",
	"-OPC_xD1_LID0",
	"-OPC_xC0_LI0",
	"-OPC_xC1_LI1",
	"-OPC_xC2_LI2",
	"-OPC_xC3_LI3",
	"-OPC_xC4_LI4",
	"-OPC_xC5_LI5",
	"-OPC_xC6_LI6",
	"-OPC_xC7_LI7",
	"-OPC_xC8_LI8",
	"-OPC_xC9_LI9",
	"-OPC_xCA_LI10",
	"-OPC_xCD_LIB_alpha",
	"-OPC_xCF_LINB_alpha",
	"-OPC_xD0_LIHB_alpha",
	"-OPC_xCE_LIW_word",
	"-OPC_xD2_LA0",
	"-OPC_xD3_LA1",
	"-OPC_xD4_LA2",
	"-OPC_xD5_LA3",
	"-OPC_xD6_LA6",
	"-OPC_xD7_LA8",
	"-OPC_xD8_LAB_alpha",
	"-OPC_xD9_LAW_word",
	"-OPC_x01_LL0",
	"-OPC_x02_LL1",
	"-OPC_x03_LL2",
	"-OPC_x04_LL3",
	"-OPC_x05_LL4",
	"-OPC_x06_LL5",
	"-OPC_x07_LL6",
	"-OPC_x08_LL7",
	"-OPC_x09_LL8",
	"-OPC_x0A_LL9",
	"-OPC_x0B_LL10",
	"-OPC_x0C_LL11",
	"-OPC_x0D_LLB_alpha",
	"-OPC_x0E_LLD0",
	"-OPC_x0F_LLD1",
	"-OPC_x10_LLD2",
	"-OPC_x11_LLD3",
	"-OPC_x12_LLD4",
	"-OPC_x13_LLD5",
	"-OPC_x14_LLD6",
	"-OPC_x15_LLD7",
	"-OPC_x16_LLD8",
	"-OPC_x17_LLD10",
	"-OPC_x18_LLDB_alpha",
	"-OPC_x19_SL0",
	"-OPC_x1A_SL1",
	"-OPC_x1B_SL2",
	"-OPC_x1C_SL3",
	"-OPC_x1D_SL4",
	"-OPC_x1E_SL5",
	"-OPC_x1F_SL6",
	"-OPC_x20_SL7",
	"-OPC_x21_SL8",
	"-OPC_x22_SL9",
	"-OPC_x23_SL10",
	"-OPC_x24_SLB_alpha",
	"-OPC_x25_SLD0",
	"-OPC_x26_SLD1",
	"-OPC_x27_SLD2",
	"-OPC_x28_SLD3",
	"-OPC_x29_SLD4",
	"-OPC_x2A_SLD5",
	"-OPC_x2B_SLD6",
	"-OPC_x2C_SLD8",
	"-OPC_x75_SLDB_alpha",
	"-OPC_x2D_PL0",
	"-OPC_x2E_PL1",
	"-OPC_x2F_PL2",
	"-OPC_x30_PL3",
	"-OPC_x31_PLB_alpha",
	"-OPC_x32_PLD0",
	"-OPC_x33_PLDB_alpha",
	"-OPC_xBB_AL0IB_alpha",
	"-OPCo_xDA_GA0",
	"-OPCn_xDA_GA0",
	"-OPCo_xDB_GA1",
	"-OPCn_xDB_GA1",
	"-OPCo_xDC_GAB_alpha",
	"-OPCn_xDC_GAB_alpha",
	"-OPCo_xDD_GAW_word",
	"-OPCn_xDD_GAW_word",
	"-OPCn_xFA_LGA0",
	"-OPCn_xFB_LGAB_alpha",
	"-OPCn_xFC_LGAW_word",
	"-OPCo_x34_LG0",
	"-OPCn_x34_LG0",
	"-OPCo_x35_LG1",
	"-OPCn_x35_LG1",
	"-OPCo_x36_LG2",
	"-OPCn_x36_LG2",
	"-OPCo_x37_LGB_alpha",
	"-OPCn_x37_LGB_alpha",
	"-OPCo_x38_LGD0",
	"-OPCn_x38_LGD0",
	"-OPCo_x39_LGD2",
	"-OPCn_x39_LGD2",
	"-OPCo_x3A_LGDB_alpha",
	"-OPCn_x3A_LGDB_alpha",
	"-OPCo_x3B_SGB_alpha",
	"-OPCn_x3B_SGB_alpha",
	"-OPCo_x76_SGDB_alpha",
	"-OPCn_x76_SGDB_alpha",
	"-OPC_x40_R0",
	"-OPC_x41_R1",
	"-OPC_x42_RB_alpha",
	"-OPC_x43_RL0",
	"-OPC_x44_RLB_alpha",
	"-OPC_x45_RD0",
	"-OPC_x46_RDB_alpha",
	"-OPC_x47_RDL0",
	"-OPC_x48_RDLB_alpha",
	"-ESC_x1B_RC_alpha",
	"-OPC_x49_W0",
	"-OPC_x4A_WB_alpha",
	"-OPC_x4C_WLB_alpha",
	"-OPC_x4E_WDB_alpha",
	"-OPC_x51_WDLB_alpha",
	"-OPC_x4B_PSB_alpha",
	"-OPC_x4F_PSD0",
	"-OPC_x50_PSDB_alpha",
	"-OPC_x4D_PSLB_alpha",
	"-OPC_x52_PSDLB_alpha",
	"-OPC_x53_RLI00",
	"-OPC_x54_RLI01",
	"-OPC_x55_RLI02",
	"-OPC_x56_RLI03",
	"-OPC_x57_RLIP_pair",
	"-OPC_x58_RLILP_pair",
	"-OPCo_x5C_RGIP_pair",
	"-OPCn_x5C_RGIP_pair",
	"-OPCo_x5D_RGILP_pair",
	"-OPCn_x5D_RGILP_pair",
	"-OPC_x59_RLDI00",
	"-OPC_x5A_RLDIP_pair",
	"-OPC_x5B_RLDILP_pair",
	"-OPC_x5E_WLIP_pair",
	"-OPC_x5F_WLILP_pair",
	"-OPC_x60_WLDILP_pair",
	"-OPC_x61_RS_alpha",
	"-OPC_x62_RLS_alpha",
	"-OPC_x63_WS_alpha",
	"-OPC_x64_WLS_alpha",
	"-OPC_x66_RF_word",
	"-OPC_x65_R0F_alpha",
	"-OPC_x68_RLF_word",
	"-OPC_x67_RL0F_alpha",
	"-OPC_x69_RLFS",
	"-ESC_x1A_RCFS",
	"-OPC_x6A_RLIPF_alphabeta",
	"-OPC_x6B_RLILPF_alphabeta",
	"-OPC_x6D_WF_word",
	"-OPC_x6C_W0F_alpha",
	"-OPC_x72_WLF_word",
	"-OPC_x71_WL0F_alpha",
	"-OPC_x74_WLFS",
	"-OPC_x70_WS0F_alpha",
	"-OPC_x6F_PS0F",
	"-OPC_x6E_PSF_word",
	"-OPC_x73_PSLF_word"
    );
    "DBProcessor(Private)" = (
	"-popRecover",
	"-lengthenPointer:",
	"-nextCodeByte",
	"-nextCodeWord",
	"-readCode:",
	"-readMDSWord:",
	"-readMDSWord:offset:",
	"-readMDSDoubleWord:",
	"-readMDSDoubleWord:offset:",
	"-writeMDSWord:value:",
	"-writeMDSWord:offset:value:",
	"-popFloat",
	"-pushFloat:",
	"-boundsTrap",
	"-pointerTrap",
	"-divZeroTrap",
	"-divCheckTrap",
	"-hardwareError:",
	"-dispatch:escape:execute:"
    );
    "DBProcessor(Processes)" = (
	"-processWord:offset:",
	"-setProcessWord:offset:value:",
	"-requeue:to:process:",
	"-cleanupCondition:",
	"-wakeHead:",
	"-notifyWakeup:",
	"-exitMonitor:",
	"-enterFailed:",
	"-reschedule:",
	"-saveProcess:",
	"-loadProcess",
	"-fault:parameter:words:",
	"-requestInterrupt:",
	"-pollProcesses",
	"-processOpcode:escape:execute:"
    );
}